<%= render 'shared/page_title', title:"Connexion" %>

<%= render 'form', chef: @chef %>

<div class="col-md-4 col-md-offset-4 colormatch">[   <%= link_to "Annuler et retourner à la liste des recettes", recettes_path %> ]</div>

