<% @recettes.each do |recette| %>
<div class="row">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for(recette.chef, size:120) %>
    </section>
  </div>
  <div class="col-md-8 well">
    <h4><%= link_to recette.name, recette_path(recette) %></h4>
    <p><%= truncate(recette.description ,length:150) %></p>
    <p> <span class="quiet"><small> depuis <%= time_ago_in_words recette.created_at %></small> </span></p>
    
  </div>
</div>
<% end %>