<%= render 'shared/page_title', title:"créer une nouvelle recette" %>
<%= render 'shared/errors' %>
<%= render 'form', recette: @recette %>

<div class="col-md-4 col-md-offset-4 colormatch">[   <%= link_to "Annuler et retourner à la liste des recettes", recettes_path %> ]</div>
