<% if @recette.errors.any? %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title"> <%= pluralize(@recette.errors.count, "erreur") %> empeche l'enregistrement  </h2>
					<div class="panel-body">
						<ul>
							<%@recette.errors.full_messages.each do |msg|  %>
							     <li><%= fct msg %></li>
							<%end%>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>