<div align="center">
	<%= will_paginate(obj,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0, :style => 'color:green',:link_separator  => "  " ) %>	
</div>