<%= render 'shared/page_title', title:"Mettre à jour  l' <strong>ingredient</strong>" %>
<%= render 'shared/errors', obj:@ingredient %>
<%= render 'form', ingredient: @ingredient %>

<div class="col-md-4 col-md-offset-4 colormatch">[   <%= link_to "Annuler et retourner sur votre profile", recettes_path %> ]</div>

