
<div class="container mt-0">


<div class="jumbotron center ">
	<h1>Welcome to My Recipes site!</h1>
	<h2>la plaque tournante des recettes gabonaise </h2>
	<p><%= link_to "Login or Signup", "#", class:'btn btn-danger btn-lg' %></p>
</div>


</div>