$navbar-default-bg: #fff;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.3em;
  color: #ea5252;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #333333; 
  text-decoration: none;
} 

.navbar-default{
  margin-bottom:1px !important;
}

.navbar-default .navbar-nav > li > a {
    color:#333333; 
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
 
    color:#ea5252;
}


.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('p2.jpg');
  background-size: cover;
  height: 300px;
  color:#fff;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.btn-xlarge {
  background-color: #ea5252;
  color: #fff;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.description{
  margin-top: 0px;
}

.well a{
  color:#ea5252;
}

.gravatar {
  border-radius: 10px;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a{
  color:#ea5252;
}

.name_color{
  color:#ea5252;
}

.recette_actions{
  padding-top:5px;
  a {
      color:#fff;
   }
}

.mg-top{
  margin-top: 10px;
}

.input_checkbox input{
  width: auto !important;
}